<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- not chache -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <script src="{{url_for('static', filename='js/util.js')}}"></script>
    <script src="{{url_for('static', filename='js/data/temperature.js')}}"></script>
    <title>test</title>
    <script>
        function btn_click() {
            //Always use event.target.id,cause of the 'this' target to the element that now bind.
            console.log(event.target.id);
            switch(event.target.id) {
                case 'open':
                    ajax("SEND_IR_OPEN");
                    break;
                case 'close':
                    ajax("SEND_IR_CLOSE");
                    break;
                case 'sleep':
                    ajax("SEND_IR_SLEEP");
                    break;
                case 'learn':
                    ajax("LEARN_IR");
                    break;
                case 'set_temperature':
                    ajax("SET_TEMPERATURE");
                    break;
                default:
                    console.log("NO Button id");
            }
        }

        // window.onload = function() {
        //     temperature = document.getElementById('temperature');
        //     humidity = document.getElementById('humidity');
        //     time = document.getElementById('update_time');

        //     temperature.innerText = current_temperature[0];
        //     humidity.innerText = current_temperature[1];
        //     time.innerText = current_temperature[2];
        // }
    </script>
</head>
<body>
    <p>
        <table>
            <tr>
                <th colspan="2">空调当前状态</th>
            </tr>
            <tr>
                <td>是否开启</td>
                <td>{{temperature.is_open}}</td>
            </tr>
            <tr>
                <td>上次开启时间</td>
                <td>{{temperature.last_open}}</td>
            </tr>
            <tr>
                <td>上次关闭时间</td>
                <td>{{temperature.last_close}}</td>
            </tr>
            <tr>
                <td>睡眠模式?</td>
                <td>{{temperature.is_sleep_mode}}</td>
            </tr>
            <tr>
                <td>定温了么?</td>
                <td>{{temperature.is_fixed_temperature}}</td>
            </tr>
        </table>
    </p>
    <button id="open" onclick="btn_click()" style="width:100%">开</button>
    <button id="close" onclick="btn_click()" style="width:100%">关</button>
    <button id="sleep" onclick="btn_click()" style="width:100%">睡眠</button>
    <!-- <button id="learn" onclick="btn_click()">学</button> -->
    <p>
        当前温度：<span id="temperature">{{temperature.temperature}}</span>,
        当前湿度：<span id="humidity">{{temperature.humidity}}</span>,
        最后更新时间：<span id="update_time">{{temperature.time}}</span>
    </p>
    <button id="set_temperature" onclick="btn_click()" style="width: 100%">定温</button>
</body>
</html>